# This file is part of File Browser.
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2020 Gabriel Berkigt
# SPDX-FileCopyrightText: 2020-2021 Mirian Margiani
[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-captains-log
Exec=sailfish-qml harbour-captains-log
Name=Captain's Log
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=Captain's Log

[X-HarbourBackup]
BackupPathList=.local/share/harbour-captains-log/
BackupConfigList=/apps/harbour-captains-log/
