# This file is part of Captain's Log.
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2020 Gabriel Berkigt
# SPDX-FileCopyrightText: 2020-2022 Mirian Margiani
[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-captains-log
Exec=harbour-captains-log
Name=Captain's Log

# TRANSLATORS
# Please add a new line for your locale below, and translate the name. This is
# the name shown in the launcher menu. The name has to be short enough not to be
# abbreviated by the system. As a rule-of-thumb, around 15 Latin characters
# should be the limit. If your language uses a different script than Latin,
# please test it before submitting your translation.
Name[de]=Captain's Log
Name[fi]=Lokikirja

[X-Sailjail]
Permissions=Documents
OrganizationName=harbour-captains-log
ApplicationName=harbour-captains-log

[X-HarbourBackup]
BackupPathList=.local/share/harbour-captains-log/
BackupConfigList=/apps/harbour-captains-log/
